
@keyframes slideUp {
    from{
        transform: translateY(300px);
    }
    to{
        transform:translateY(0);
    }
}

.animation1 {
    
 animation-name: slideUp;
 animation-duration: 1s;
 animation-timing-function: ease-in ;
 animation-delay:0s;
 animation-iteration-count:1 ;
 animation-direction:normal;
 animation-fill-mode: forwards;  
}